/*CLASES REUTILIZABLES

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/

body {
  margin: 0;
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;*/
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
  float: left;
  /*outline: 2px solid blue;*/
}
/*convertir en mayúscula los títulos que están en minúscula*/
.text-uppercase {
  text-transform: uppercase;
}
/*formato del menú que quedará fijo mientras se haga scroll*/
header{
  /*outline: 2px solid red;*/
  font-size: 100%;
  font-weight: bold;
  background: white;
  position: fixed;
  width: 100%;
  padding-top: 2%;

}
/*formato del logo del menu fijo*/
#logo{
  width: 5%;
  margin: -10% 0 0 80%;
  /*outline: 2px solid green;*/
}
/*formato de la lista del menu fijo*/
header .text-uppercase a {
  padding-left: 3em;
  color: #373B47;
  text-decoration: none;
  /*outline: 2px solid green;*/
}
/*Cambio de color al pasar el cursor*/
header .text-uppercase a:hover {
  color: #E95853;
}

/*formato de la primera sección*/
#section1{
  background-image: url("../assets/images/bg-home.jpg"); /*esto deja la imagen de fondo de la sección*/
  background-size: cover;
  /*outline: 2px solid green;*/
  height: 32em;  /*para darle el largo a la sección*/
}
/*centrar el texto*/
#section1 .text-uppercase{
  margin-top: 5em;
  padding-top: 5em;
}
/*para hacer el botón verde de ver servicios*/
#section1 a{
  text-decoration: none;
  color: white;
  background-color: #4CEA8C;
  margin: 5em 33em 0 33em;
  padding: 0.6em;
}
/*cambio de color del texto de la sección1*/
#section1 h2, #section1 h1, #section1 p{
  color: white;
}
/*formato de la segunda sección*/
#section2{
  outline: 2px solid red;
  background-color: #FF9696;
  padding: 4em;
}
#section2 h2, #section2 h4, #section2 h5, #section2 h6{
  color: white;
}
#section2 table{
  width: 70.5em;
  text-align: center;
  margin: 0;
}
#section2 tr td{
  line-height: 10%;
}
#section2 img{
  width: 10em;
  height: 10em;
  /*vertical-align: middle;*/
}
#section3{
    /*outline: 2px solid yellow;*/
}
/*Dar formato a la imagen del computador*/
#section3 #img2{
  width: 60em;
  height: 50em;
 padding-left: 9em;/*esto centra la imagen*/
}

/*defino el tamaño de las imagenes*/
#section3 img{
  width: 15em;
  height: 15em;
}
#section3 table{
  width: 100%;
  text-align: center;
  /*outline: 2px solid red;*/
}

/*.container{
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
  outline: 2px solid red;
}

.container:before, .container:after {
  content: " ";
  display: table;
  outline: 2px solid yellow;
}
.container:after {
  clear: both;
}


.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}*/


h2, h1, p, h4{
  text-align: center;
  font-weight: bold;
}

footer{
  background-color: #545767;
  color: white;
  padding: 0.2em;
  text-align: center;
}
